<div class="content">
    <h1>Hi from the second page</h1>
    <p>Welcome to page 2!</p>
    <div>
        <!-- Add attribute `data-dynojax="<component>"` to load this link as component -->
        <a href="/" data-dynojax="root">Go back to the homepage</a>
    </div>
</div>