<div class="content">
    <h1>Hi people</h1>
    <p>Welcome to your new site!</p>
    <p>Now go build something great.</p>
    <img src="/images/dev.svg">
    <div>
        <!-- Add attribute `data-dynojax="<component>"` to load this link as component -->
        <a href="/page2" data-dynojax="root">Go to page 2</a>
    </div>
</div>